{% extends 'header.html' %}

{% block body %}
<div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <fieldset>
                    {% from "_formhelpers.html" import render_regform_field %}
                    <form action="/sign-up/" method="post">
                    {% for field in form %}
                        {{ render_regform_field(field) }}
                    {% endfor %}
                        <input class="btn btn-lg btn-primary btn-block" value="Sign Me Up" type="submit">
                    </form>
                    </fieldset>
                </div>
        </div>
    </div>
</div>
{% endblock %}
